<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${staff}" method="post">
    <table border="1px">

        <tr>
            <th>#</th>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Branch</th>
        </tr>
        <tr>
            <td><p th:text="*{idStaff}" hidden></td>
            <td><p th:text="*{codeStaff}"></td>
            <td><p th:text="*{nameStaff}"></td>
            <td><p th:text="*{ageStaff}"></td>
            <td><p th:text="*{salaryStaff}"></td>
            <td th:text="${staff.branch.nameBranch}"></td>
        </tr>

    </table>
    <a href="/show">Back to home</a>
</form>

</body>
</html>